//mobile
//MAIN CONTENT
.main-content{
  margin-top: $m-top-nav-bar-height + $m-main-nav-bar-height;

  @media #{$l-media-query} {
    margin-top: 0;
  }
}

.section-wrapper {
  width: 100%;
  overflow: hidden;

  &.banner {
    margin: 0;
    max-width: 100%;
  }

  &.invert {
    color: white;
    background: $darkerGray;
  }
}

.section-content {
  max-width: 100%;
  padding: 0 $m-app-margin;
  margin: 40px 0;
  overflow: hidden;
  text-align: center;

  > h1 {
    sub {
      display: block;
      color: $pink;
    }
  }

  @media #{$l-media-query} {
    max-width: $app-max-width;
    margin: 40px auto;
    padding: 0 15px;
  }
}

.breadcrumbs-wrapper {
  height: 59px;
  background: url("/images/breadcrumbs-bg.png") center center;
  background-size: cover;
  padding: 0 15px;
}

.breadcrumbs {
  max-width: $app-max-width;
  margin: 0 auto;
  font-family: $helveticaNeue;
  @include font-size(0.7692);
  font-weight: bold;
  line-height: 59px;

  li {
    display: inline-block;
  }

  .root {
    color: $black;
  }

  a {
    color: $blue;
    text-decoration: none;
  }
}

//BANNERS
.banner .section-content {
  position: relative;
  text-align: left;
  color: $white;
  height: 325px;
  width: 310px;
  overflow: hidden;
  margin: 0;

  @media #{$l-media-query} {
    max-width: $app-max-width;
    width: 100%;
    margin: 0 auto;
    height: 450px;
    padding-left: 5%;
  }
}

.banner h1 {
  font-family: $helveticaNeue;
  @include font-size(2.462);
  margin-top: 40px;
  text-transform: uppercase;
  span {
    font-size: 1.875em;
  }
  sup {
    font-weight: normal;
  }

  @media #{$l-media-query} {
    margin-top: 50px;
    @include font-size(3.231);
    span {
      font-size: 2.857em;
    }
  }
}

.banner h2 {
  font-family: $helveticaNeue;
  font-style: italic;
  font-weight: normal;
  margin: 20px 0;

  @media #{$l-media-query} {
    margin: 60px 0;
    @include font-size(1.846);
    width: 530px;
  }
}


.banner .btn-pink {
  position: absolute;
  padding: 15px 70px;
  bottom: 25px;
}

.banner.section-wrapper {
  background: no-repeat;
  background-size: cover;
  background-position: 35% center;

  @media #{$l-media-query} {
    background-position: center center;
  }
}

.pricing.section-wrapper {
  background-image: url("/images/banner-pricing.png");
}
//BANNERS END


//OUR PACKAGES

//table colors
$oddRow: #fcfbf9;
$evenRow: #f3ede6;

.price-tables-wrapper {
  overflow: hidden;
}

.price-table {
  color: $darkGray;
  text-align: center;
  border: 1px solid $price-table-border-color;
  margin: 30px 0;
  overflow: hidden;

  &:first-child {
    border: none;

    .price-table-header {
      color: #605040;
    }
  }

  p a {
    color: $darkGray;
    text-decoration: none;
  }

  @media #{$l-media-query} {
    float: left;
    width: 25%;
    border-left: none;
    background: $oddRow;

    &:first-child {
      border: 1px solid $price-table-border-color;
      width: 50%;

      li {
        text-align: left;
      }

      .icon {
        margin: 0 15px;
      }
    }

    & + .price-table {
      background: $evenRow;
      .price-table-header-wrapper {
        background-color: $evenRow;
      }
      .price-table-footer-wrapper {
        background-color: $evenRow;
      }
    }

    & + .price-table + .price-table {
      background: $oddRow;
      .price-table-header-wrapper {
        background-color: $white;
      }
      .price-table-footer-wrapper {
        background-color: $white;
      }
    }
  }
}

.price-table-header-wrapper {
  @media #{$l-media-query} {
    display:table;
    width:100%;
    height:98px;
    background-color: $white;
  }
}

.price-table-header {
  @include font-size(1.5);
  text-align: center;

  p {
    font-family: $georgia;
    font-style: italic;
  }

  h2 {
    padding: 15px 0;
    small, sub {
      font-family: $georgia;
      font-style: italic;
      font-weight: normal;
    }
  }

  @media #{$l-media-query} {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 98px;
  }
}

.price-table-rows {

  li {
    border-bottom: 1px solid $price-table-border-color;
    padding: 15px;

    &:first-child {
      border-top: 1px solid $price-table-border-color;
    }

    &.uncheck {
      display: none;
    }

    .icon {
      display: none;
    }

    @media #{$l-media-query} {
      text-align: center;
      display: table;
      width: 100%;
      height: 38px;

      padding: 0 15px;

      &.uncheck {
        display: table;
      }
    }
  }

  p {
    font-family: $georgia;
    font-style: italic;
  }

  @media #{$l-media-query} {
    p {
      .text {
        display: none;
      }
      .icon {
        display: inline-block;
      }
    }

    p {
      display:table-cell;
      vertical-align:middle;
    }
  }
}

.price-table-footer-wrapper {
  @media #{$l-media-query} {
    display:table;
    width:100%;
    height:258px;
    background-color: $white;
  }
}

.price-table-footer {
  padding: 15px;

  p {
    font-family: $georgia;
    font-style: italic;
    padding-bottom: 15px;
  }

  small {
    font-style: normal;
  }

  .btn-pink {
    display: block;
    float: none;
    max-width: 100%;
    padding: 10px;
  }

  @media #{$l-media-query} {
    display:table-cell;
    vertical-align:middle;
    text-align: center;
  }

}

//OUR PACKAGES END

//OFFERS

.et-offers {
  margin: 40px 0;
}

.et-offer-wrapper {
  margin-top: 35px;
  font-family: $arial;

  &:first-child {
    margin-top: 0;
  }

  @media #{$l-media-query} {
    float: left;
    max-width: 50%;
    text-align: left;

    &:first-child {
      margin-top: 35px;
    }
  }
}

.et-offer-content {
  margin-top: 25px;

  h3 {
    font-family: $georgia;
    margin-top: 25px;
    font-weight: normal;
    font-style: italic;
  }

  p {
    margin: 5px 0;
  }
}

//OFFERS END

//MAIN CONTENT END