$app-min-width: 265px;
$app-max-width: 1240px;

//Colors
$black: #000000;
$white: #ffffff;
$pink: #ec008c;

$darkerGray: #252525;
$darkGray: #474a4e;
$lightGray: #ededed;

$EtBlue: #013f5e;
$blue: #69839e;

$gold: #f4eee7;

//mobile
$m-top-nav-bar-height: 30px;
$m-main-nav-bar-height: 64px;

//desk
$d-top-nav-bar-height: 36px;
$d-main-nav-bar-height: 85px;

$m-app-margin: 5%;

//css iso symbol
$pound:"\00a3";
$euro:"\20ac";

$price-table-border-color: #e1dad2;

//media queries
$s-media-query: "(max-width: 824px)";
$l-media-query: "(min-width: 825px)";

//Fonts & Fallbacks
$arial: Arial, 'sans-serif';
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, 'sans-serif';
$HelveticaNeueLTPro: "Helvetica Neue LT", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$georgia: Georgia, "Times New Roman", Times, serif;

$base_font_height: 13px;

$base_font: $arial;
$base_line_height: 1;

$header_font: $HelveticaNeueLTPro;